@model P4P.ViewModel.SubcategorieProducts
@{
    ViewBag.Title = @Model.hoofdcategorie.Naam + "Subcategorieën";
}

<h2><a href="~/Winkel">Home > </a><a href="~/Winkel/Categorie/@Model.hoofdcategorie.Id">@Model.hoofdcategorie.Naam</a></h2>

<div class="card links">
    <center><h5>Subcategorieën:</h5></center>
    @foreach (var c in Model.subcategories)
    {
        <div class="col-xs-4 col-centered clickable">
            <h5 class="center"><a href="~/Winkel/SubCategorie/@c.Id">@c.Naam</a></h5>
        </div>
    }
</div>
