@model P4P.ViewModel.SubcategorieProducts
@{
    ViewBag.Title = @Model.hoofdcategorie.Naam + "Producten";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />
<style>
    body {
        background-color: whitesmoke;
    }
</style>

<div class="navigatie">
    <h5><a href="~/Winkel">Home</a> > @Model.hoofdcategorie.Naam</h5>
</div>


    <div class="card card-producten">
        <center><h5>Producten:</h5></center>
        <div class="row row-centered">
            @foreach (var c in Model.product)
            {
                <a href="~/Winkel/Artikelpagina/@c.Id">
                    <div class="col-xs-2 col-centered clickable categorie">
                        <h5 class="center">
                            @c.Naam
                    </h5>
                </div>
            </a>
            }
        </div>
</div>


