@using System;
@using System.Linq;
@using System.Data.Entity;

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand pull-left" href="~/Admin/"><img id="logo" src="~/Content/jansma_logo2.png" style="max-height:25px; margin:0; padding:0; margin-right:20px;" />   Jansma Haule</a>
            <!--3 streepjes mobiel-->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav text-center">
                <li>
                    <a href="~/Bestel">
                        <span class="badge green" style="color: white;">
                            @using (P4PContext ctx = new P4PContext())
                            {
                                int user_id = Convert.ToInt32(Session["Id"]);
                                var winkelmand = ctx.Winkelwagens.Include(c => c.Product).Include(c => c.Gebruiker).ToList().Where(c => c.Gebruiker_id == user_id).Count();
                                @winkelmand
                            }
                        </span>Winkelwagen
                    </a>
                </li>
                <li><a href="~/Profiel/Bedrijf">Bedrijf</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="~/Admin/Account">Gebruikers</a></li>
                        <li><a href="~/Admin/Categorie">Categoriën</a></li>
                        <li><a href="~/Admin/Melding">Meldingen</a></li>
                        <li><a href="~/Admin/Artikel">Artikelen</a></li>
                        <li><a href="~/Admin/Aanbieding">Aanbiedingen</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="~/Profiel" role="button" aria-haspopup="true" aria-expanded="false">
                        Profiel
                    </a>
                    <!--Tijdelijk niet nodig<ul class="dropdown-menu nomobile">
                        <li><a href="~/Profiel/Login">Uitloggen</a></li>

                        <li><a href="#">Mijn gegevens</a></li>
                        <li><a href="#">Bedrijf beheren</a></li>
                        <li><a href="#">Mijn contactpersonen</a></li>-->
            </ul>
            </li>
            </ul>
        </div>
    </div>
</div>
