@model P4P.ViewModel.NewSubcategorie
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@if (!Model.Any())
{
    <p>Er zijn nog geen subcategorieën ingesteld op deze hoofdcategorie</p>
}
else
{
    foreach (var categorie in Model)
    {
        @categorie.Naam
        @Html.ActionLink("Subcategorie toevoegen", "CreateSubCategorie", "Categorie", new { id=categorie.Id }, new { @class = "btn btn-primary" })
    }
}

