@model P4P.ViewModel.DetailsSubcategorie
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
@Html.ActionLink("Subcategorie toevoegen", "CreateSubCategorie", "Categorie", new { id = Model.Hoofdcategorie.Id }, new { @class = "btn btn-primary" })
@if (!Model.Subcategorie.Any())
{
    <p>Er zijn nog geen subcategorieën ingesteld op deze hoofdcategorie</p>
}
else
{
    foreach (var categorie in Model.Subcategorie)
    {
        @categorie.Naam
    }
}
