@model  IEnumerable<P4P.Models.Hoofdcategorie>
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>
<h3>Overzicht van gebruikers</h3>

<p>
    @Html.ActionLink("Nieuw Artikel", "New", "Artikel", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Nieuwe hoofdcategorie", "CreateHoofdcategorie", "Categorie", null, new { @class = "btn btn-primary" })
</p>
<table id="gebruikers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Hoofdcategorie</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var categorie in Model)
    {
        <tr>
            <td>@categorie.Naam</td>
            <td>@Html.ActionLink("Open", "Details", "Categorie", new { categorie.Id }, new { @class = "btn btn-primary" })</td>
        </tr>
    }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function() {
            $("#gebruikers").DataTable();
        })
    </script>
}