@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" type="text/css" href="~/Content/Index.css" media="screen" />

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Jansma Haule</h1>
            <div class="row center">
                <h5 class="header col s12 light">Een wereld van boerenproducten</h5>
            </div>
            <div class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Hier komt een zoekbalk</a>
            </div>
            <br><br>
        </div>
    </div>
    <div class="parallax"><img src="~/Content/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="section">
    <!--   Icon Section   -->
    <div id="leftside" class="col-xs-6">
        <div class="row"><div id="aanbiedingen" class="col-md-12"><div id="aanbiedingen2" class="card"><h5>Aanbiedingen</h5></div></div></div>
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block card clickable">
                    <h2 class="center brown-text"><img src="~/Content/cart.png" /></h2>
                    <h5 class="center">Aanbieding 1</h5>
                    <p class="light">Gratis fietsbel bij elke kaas.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block card clickable">
                    <h2 class="center brown-text"><img src="~/Content/cart.png" /></h2>
                    <h5 class="center">Kaassies</h5>
                    <p class="light">Gratis kaas bij elke kaas.</p>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="icon-block card clickable">
                    <h2 class="center brown-text"><img src="~/Content/cart.png" /></h2>
                    <h5 class="center">Melk</h5>
                    <p class="light">De melk is extra sappig dit seizoen.</p>
                </div>
            </div>
        </div>
    </div>
    <div id="rightside" class="col-xs-6">
        <a class="twitter-timeline" href="https://twitter.com/BaronJansma" data-widget-id="382128209740832768">Tweets door BaronJansma</a>
        <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
    </div>
</div>


<div id="scrollen"></div>