.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    padding:10px;
}

.clickable {
    width: 100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .clickable:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
        background-color: whitesmoke;
    }

.parallax-container {
    min-height: 380px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

    .parallax-container .section {
        width: 100%;
    }

.background-grass {
    color: rgb(255, 255, 255);
    background: linear-gradient(145deg, #4caf50, #33e07b);
}

.gradient {
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transform: skewY(5deg);
    transform-origin: 100% center 0px;
    padding: 48px 48px 32px;
    overflow: hidden;
    margin-top:-15vh;
}
.edited {
    color: white;
    height: 50vh;
    min-height: 200px;
    margin-top: 10vh;
    z-index: -1;
    padding: 0;
    background: linear-gradient(145deg, #33e07b, #32e0c3);
}
#recht {

    z-index: 1;
    transform:skewY(-5deg);
    height:40vh;
}


.big{
    height:30vh;
}

h1 {
    transform: skewY(-5deg);
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:17vh;
}
h5 {
    color: dimgrey;
}
#custom-search-input {
    border-radius: 6px;
    background-color: #fff;
    transform: skewY(-5deg);
    height:45px;
    width:30vw;
}

    #custom-search-input button {
        margin: 0px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 20px;
    }
    .nomobile a{
        color:black!important;
    }


    #custom-search-input .glyphicon-search {
        font-size: 20px;
        margin-top:-3px;
    }
/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}
.aanbieding {
    max-width: 350px;
}

/*Telefoon*/
@media only screen and (max-width : 768px) {
    h1 {
        font-size: 45px;
    }

    #custom-search-input {
        width: 95vw;
    }

    .gradient {
        margin-top: -25vh;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-collapse {
        background-color: white;
        border: solid 2px black;
    }

    a {
        color: black !important;
    }
    .col-centered {
        width:30vw;
        margin:0;
        padding:0;

    }
    h5{
        font-size:20px;
    }
    #categories{
        z-index:-1;
        margin:0;

    }
    }
@media only screen and (max-width : 1000px) {
    #custom-search-input{
        width:80vw;
    }
    .parallax-container .section {
        position: absolute;
        top: 40%;
    }
}

