.card {
    background: #fff;
    border-radius: 2px;
    display: inline-block;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    text-align: center;
    padding: 10px;
}

.card-centered {
    width:50vw;
    background-color: whitesmoke;
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.card-producten {
    width: 90vw;
    margin-left: 5vw;
}
.labelfix{
    margin-left:25px;
}
.widthfix{
    width:100%!important;
}
@media only screen and (max-width : 992px) {
.card-centered{
    width:90vw;
}
}

.clickable {
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

    .clickable:hover {
        box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 0px 10px rgba(0,0,0,0.22);
        background-color: whitesmoke;
    }
/* centered columns styles */
.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    margin-right: -4px;
}
.col-md-12 p{
    text-align:center;
    color:dimgray;
}
/*Profiel*/
.round {
    border-radius: 100%;
    width:100px;
    margin:auto;
    margin-top:3vh;
}
.streep{
    height:1px;
    background-color:lightgrey;
    width:30%;
    margin:auto;
}
h6{
    color:grey;
    margin-bottom:20px;
}

/*Categorie*/
.categorie {
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 1px;
    margin-bottom: 4px;
    padding: 0;
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.20);
    background-color:whitesmoke
}
    .categorie h5 {
        margin-top: 40px;
        font-size: 20px;
    }
    .categorie h4 {
        margin-top: 12%;
        margin-left:-19%;
        font-size: 19px;
    }
    .categorie h6 {
        margin-left: -19%;
    }
.secondary-content {
    margin-top:12%;
    margin-bottom:10%;
    margin-right:-50px;
    width:100%;
}
.cat-img {
    width: 300px;
    height: 200px;
}
.cat-image {
    width: 120px;
    height: 120px;
    margin-top: 12%;
    border: 1px solid lightgrey;
}
.bestelknop{
    font-size:100%;
    padding:0;
    margin-top:0px!important;
}
/*Achtergrond*/
.background-grass {
    color: rgb(255, 255, 255);
    background: linear-gradient(0deg,rgba(76,175,80,0.5),rgba(51,224,123,0.5)),url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center;
    /*background: linear-gradient(145deg, #4caf50, #33e07b);*/
}

.gradient {
    min-height: 480px;
    height: 80vh;
    max-height: 560px;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    transform: skewY(5deg);
    transform-origin: 100% center 0px;
    padding: 48px 48px 32px;
    overflow: hidden;
    margin-top:-15vh;
}

.big{
    height:30vh;
}

h1 {
    transform: skewY(-5deg);
    color:white;
    margin-left:auto;
    margin-right:auto;
    margin-top:17vh;
}
h5 {
    color: dimgrey;
}

#custom-search-input {
    border-radius: 6px;
    background-color: #fff;
    transform: skewY(-5deg);
    height:45px;
    width:30vw;
}

    #custom-search-input button {
        margin: 0px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 20px;
    }

    #custom-search-input .glyphicon-search {
        font-size: 20px;
        margin-top:-3px;
    }

/*Aanbiedingen*/
.aanbieding {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    margin-bottom: 3px;
    border-bottom:1px solid whitesmoke;
}
.aanbiedingimg{
    width:20%;
    height:100%;
    padding:0;
}
.aanbiedingtekst {
    width: 80%;
    float: right;
    height: 100%;
    position:relative;
}
    .aanbiedingtekst h5 {
        width: 50%;
        height: 50%;
        overflow: auto;
        margin: auto;
        margin-top:8%;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

/*Rijen*/
.links {
    width: 80%;
    float: right;
    max-width: 500px;
}
.rechts {
    width: 80%;
    float: left;
    max-width: 500px;
}
/*Meldingen*/
.alert{
    margin-bottom:5px;
}
.alert h4{
    font-size:20px;
}

/*Shared index*/
.input {
    background-color: white !important;
    height: 36px !important;
    border-style: none !important;
}
.waves-light{
    margin-top:10px;
    width:90%;
    color:white!important;
}
.btn:hover {
    background-color:mediumseagreen !important;
    color:white!important;
}
/*Create.cshtml*/
#bottomform {
    margin-top: 20px;
}
#middleform {
    margin-top: 20px;
}

#formcard {
    margin-top: 10px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-color: #f9f9f9;
    padding:0;
}

.card-image {
    background-color: #4caf50;
}

h4 {
    font-size: 20px;
    color: #4caf50;
}

.nomargin {
    padding-bottom: 0;
    margin-bottom: -22px;
}

.field-validation-error {
    color: red;
}

/*Admin gebruikers lijst*/
.tabel {
    margin-left: 2vw;
    margin-right: 2vw;
    width: 95vw;
}

#gebruiker-banner {
    width: 100vw;
    height: 20vh;
    padding-top: 30px;
    min-height: 280px;
    margin-bottom: 20px;
}
/*Profiel index*/
.profiel {
    width: 90%;
    margin-left: 5%;
    min-height: 80vh;
    margin-top: 10px;
    padding: 45px;
    background-color: #f9f9f9;
}

#opslaan {
    margin-bottom: 20px;
}

.collection-item {
    text-align: left;
}
/*Gegevenscontrole*/
.tekstvak {
    max-width: 30vw !important;
    margin: auto;
}

.profiel2 {
    min-height: 50vh;
}
/*Voortgangsbalk*/
.progress-indicator{
    margin-top:10px!important;
}
.smaller {
    min-height: 65vh;
}
/*Categorie paginas*/
.navigatie{
    width:100vw;
    background-color:white;
    padding:5px;
    margin-top:-10px;
    margin-bottom:20px;
    text-align:center;
}
    .navigatie a {
        color: #4caf50;
        text-decoration: none;
    }
/*Fix zoekbalk form*/
.input-group-btn{
    margin-left:-20px;
    margin-top:-40px;
    position:absolute;
    width:100%;
}
.input-group{
    width:100%;
}
#zoeken{
    float:right!important;
}

/*Telefoon*/
@media only screen and (max-width : 768px) {
    h1 {
        font-size: 45px;
    }

    #custom-search-input {
        width: 95vw;
    }

    .gradient {
        margin-top: -25vh;
    }

    .navbar-brand {
        display: none;
    }

    .navbar-collapse {
        background-color: white;
        border: none!important;
    }



    h5 {
        font-size: 20px;
    }
}

@media only screen and (max-width : 992px) {
    #custom-search-input {
        width: 80vw;
    }

    .parallax-container .section {
        position: absolute;
        top: 40%;
    }

    .links {
        width: 90%;
        float: none!important;
    }

    .rechts {
        width: 90%;
        float: none;
    }
    .text-right{
        text-align:center!important;
    }
    .text-left{
        text-align:center!important;
    }
}