
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h3>Overzicht van opties binnen admin</h3>
<a href="~/Admin/Account/" class="btn btn-primary">Account</a>

<a href="~/Admin/Aanbieding/" class="btn btn-primary">Aanbieding</a>

<a href="~/Admin/Artikel/" class="btn btn-primary">Artikel</a>

<a href="~/Admin/Categorie/" class="btn btn-primary">Categorie</a>

<a href="~/Admin/Home/" class="btn btn-primary">Dashboard</a>

<a href="~/Admin/Melding/" class="btn btn-primary">Melding</a>


